<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<header>
 <div class="headerTexts">
  <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
  <p class="textBig">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </p>
  <p>ISSN: 1234-5678 </p>
 </div>
 <div class="linguagePerfil">
  <button>
    <img src="../assets/language image.png" alt="">
    <p>PT-BR</p>
    <img src="../assets/dropdown.png" alt="">
  </button>
  <div class="perfil">
    <div>
      <p>Bem vindo!</p>
      <p>alguem12@galoascience.com</p>
    </div>
    
    <div>
      <img src="../assets/Imagem.png" alt="">
      <img class="over" src="../assets/notification badge.png" alt="">
    </div>
  </div>
 </div>
 <div class="">

 </div>
</header>

<div class="sideMenu">
  <div class="nomeEvento">
    <h1>SLACA 2019</h1>
  </div>
  <div class="logo">
    <img src="../assets/logo.png" alt="">
  </div>
  <div class="menuLateral">
    <nav>
      <ul>
        <li><a href="">Apresentação</a></li>
        <li><a href="">Comitês</a></li>
        <li><a href="">Autores</a></li>
        <li><a href="">Eixos temáticos</a></li>
        <li><a href="">Trabalhos</a></li>
        <li><a href="">Contatos </a></li>
      </ul>
    </nav>
  </div>
</div>

<main>
  <div class="firstContent">
    <div class="videoContent">
      <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>
      <img src="../assets/vídeo apresentação.png" alt="">
    </div>
    <div class="sideContent">
      <div class="menuInside">
        <img src="../assets/download button.png" alt="">
        <img src="../assets/favorite button.png" alt="">
        <img src="../assets/doi button.png" alt="">
    
      </div>
      <p>COMO CITAR ESSE TRABALHO?</p>

      <div class="detalhes">
        <h3>Detalhes</h3>
        <div class="poster">
          <p >Tipo de Apresentação: <span>Pôster</span> <br>
            Eixo temático: <span>Alimentação e saúde (AS)</span> <br>
            Palavras-chaves: <span>Alimentos funcionais, alimentação escolar.</span><br>
          </p>
        </div>

        <div class="autores">
          <p >
            <span>Autores:</span><br>
            Galileo Galilei¹<br>
            Berta Lange de Morretes²<br>
            Isaac Newton³<br>
            Cesar Lattes¹<br>
            Stephen Hawking⁴<br>
          </p>
        </div>
        <div class="legendas">
          <p >
            ¹Universidade Estadual de Campinas
            ²Universidade de São Paulo
            ³Instituto Nacional de Pesquisas Espaciais
            ⁴Universidade Federal do Rio de Janeiro
          </p>
        </div>
        
      </div>
      
    </div>
  </div>
 
</main>

<section class="resumo">
  <h3>Resumo</h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum...  <a href="#" class="btn-show-more">ver mais</a>    <span id="mais">
    <br> <br>
    Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
    <br> <br>
    Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
    <br> <br>
    Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
    
  </p>
  
</section >

<section class="discussoes" >
  <h3>Discussões</h3>
  <div class="divCenter">
    <h4>Compartilhe suas ideias ou dúvidas com os autores!</h4>
    <div class="discIcons">
      <img src="../assets/icone1.png" alt="">
      <img src="../assets/icone2.png" alt="">
      <img src="../assets/icone3.png" alt="">
    </div>
    <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
    <hr>
    <button><img src="../assets/icon - criar.png" alt=""> <a href="#" class="btn-create-topic">criar tópico</a></button>
    
  </div>
  <div class="cardTopico answered-topic">
    <h5 class="ops-topic-subject">Assunto da pergunta aparece aqui</h5>
    <span>Carlos Henrique Santos</span>
    <p class="comments-container" >Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
    <div class="icons">
      <img src="../assets/mais informações.png" alt="">
      <img src="../assets/favoritar.png" alt="">
      <p>1 Like</p>
      <p>1 Resposta</p>
    </div>
  </div>

  <div class="cardTopico">
    <h5 >Assunto da pergunta aparece aqui</h5>
    <span>Carlos Henrique Santos</span>
    <p >Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...</p>
    <div class="icons">
      <img src="../assets/mais informações.png" alt="">
      <img src="../assets/favoritar.png" alt="">
      <p>1 Like</p>
      <p>1 Resposta</p>
    </div>
  </div>

  <form>
    Assunto:
    <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
    Conteúdo:
    <!-- <input> -->
    <button>Enviar</button>
    <h3>Aguardando feedback dos autores</h3>
  </form>

 

 
</section>
<footer>
  <img src="../assets/footer.png" alt="">
</footer>

<!--
<div class="content" role="main">

   Highlight Card 
  <div class="card highlight-card card-small">

    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Rocket Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill="#dd0031"/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
          <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
        </g>
      </g>
    </svg>

    <span>{{ title }} está rodando!</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>

  </div>

   Next Steps 
  <h2>Próximos passos</h2>
  <p>O que voce deve fazer agora?</p>

  <input type="hidden" #selection>

 Terminal 
  <div class="terminal">
    <pre>npx cypress open --env type=base</pre>
  </div>

 Resources 
  <h2>Informações importantes</h2>
  <p>Os seguintes elementos devem existir no seu aplicativo renderizado (use o inspect):</p>
  <div id="required-elements">
    <h3>O título do trabalho deve ser um h2: </h3>
    <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP'</h2>

    <h3>O elemento de expandir resumo precisa ter a classe .btn-show-more</h3>
    <a href="#" class="btn-show-more">ver mais</a>

    <h3>O elemento de criar tópico precisa ter a classe .btn-create-topic</h3>
    <a href="#" class="btn-create-topic">criar tópico</a>

    <h3>O card que contém um tópico respondido precisa ter a classe .answered-topic, o assunto do tópico deve ter a classe .ops-topic-subject</h3>
    <div class="answered-topic">
      <h4 class="ops-topic-subject">Título do tópico</h4>
    </div>
    <div class="comments-container">
      Os comentários de um tópico devem estar encapsulados num elemento com a classe .comments-container
    </div>

    <form>
      Assunto:
      <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
      Conteúdo:
      <input> 
      <button>Enviar</button>
    </form>

    <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>
  </div>

 

</div>
-->